// @mixin flex-row {
//     display: flex;
//     flex-direction: row;
//     flex-wrap: nowrap;
//     justify-content: space-around;
// }

.header {
    // @include flex-row;
    &_left {
        flex-basis: 80%;
        padding: 0 10%;
        & > ul {
            // @include flex-row;
            list-style-type: none;
            & > li {
                & > a {
                    text-decoration: none;
                    color: black;
                }
            }
        }
    }
    &_right {
        font-weight: bold;
        padding-top: 25px;
        flex-basis: 20%;
        text-align: center;
        & > a {
            text-decoration: none;
            color: black;
        }
    }
}